@import "tailwindcss";
@import "@nuxt/ui";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-background-light: #fffef9;
  --color-background-dark: #0f172b;
  --color-text-light: #000;
  --color-text-dark: #e8e4dc;
  --color-primary: #0b2a4a;
  --color-secondary: #c9a96e;
  --color-accent: #7b3fe4;
  --color-negative: #c0392b;
  --color-positive: #2e9e41;
  --color-info: #5c6b7a;
  --color-warning: #f29b38;
  --color-placeholder: #6b6662;
}
@layer base {
  :root {
    --ui-bg: var(--color-background-light);
    --ui-text: var(--color-text-light);
  }

  .dark {
    --ui-bg: var(--color-background-dark);
    --ui-text: var(--color-text-dark);
  }
}

html {
  background-color: var(--color-background-light);
  color: var(--color-text);
}

.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text);
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
